<%= form_for(@polititian) do |f| %>
  <% if @polititian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@polititian.errors.count, "error") %> prohibited this polititian from being saved:</h2>

      <ul>
      <% @polititian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-area">
  	<%= f.label :name %><br />
  	<%= f.text_field :name%><br />
  	
  	<%= f.label :avatar %><br />
  	<%= f.text_field :avatar %><br />
  	
  	<%= f.label :feature_image %><br />
  	<%= f.text_field :feature_image %><br />
  	
  	<%= f.label :twitter_handle %><br />
  	<%= f.text_field :twitter_handle %><br />
  	
  	<%= f.label :link %><br />
  	<%= f.text_field :link %><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
